<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="libro; else divLoading" class="grid  p-2">
 <mat-card class="col-12 sm:col-6">
  <mat-card-header>
    <mat-card-title>{{libro.authors}} </mat-card-title>
    <mat-card-subtitle>{{libro.description}} </mat-card-subtitle>
  </mat-card-header>

  <img [src]="libro | imgFaltante" mat-card-image class="img">

 </mat-card>


 <mat-card class="col-12 sm:col-6">
  <mat-card-header>
    <mat-card-title >  {{libro.title}}</mat-card-title><hr>
    <mat-card-subtitle >Información -</mat-card-subtitle>
  </mat-card-header>

 <mat-card-content>
  <mat-list>
    <mat-list-item>Fecha de publicación : {{libro.publishedDate}} </mat-list-item>
    <mat-list-item>Lenguaje : {{libro.language}} </mat-list-item>
    <mat-list-item>Número de páginas : {{libro.pageCount}} </mat-list-item>
    <mat-list-item>Categoría : {{libro.categories}} </mat-list-item>

  </mat-list>
  <button mat-button
  color="warn"
  (click)="goBack()">
    Regresar
  </button>


 </mat-card-content>

 </mat-card>
</div>
